 <section class="About">
          
            <div class="about-image">
                <img src="Images/person.jpg" alt="Imagen de fondo">
            </div>
            
            <div class="about-text">
                <h2>Conoceme </h2>
                <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.

                    Donec ac turpis sagittis, lacinia eros semper, sodales dui. Pellentesque sit amet magna mi. Vivamus pellentesque a nunc eget ultricies. Phasellus eleifend magna ac leo laoreet vehicula eget tincidunt orci. Donec fermentum ornare enim ac pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec fermentum ornare enim ac pretium. Loremipsum dolor sit amet, consectetur adipiscing elit.

                    .</p>
            </div>
        </section>