---
import '../Style/style.css';
---
        <div class="container-header">
            <h1>Wiñay</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Decoraciones">Decoraciones</a></li>
                    <li><a href="/Tartas">Tartas personalizadas</a></li>
                   
                </ul>
            </nav>
        </div>
 