---
import '../Style/style.css';
---

<section class="hero-section">
            <div class="hero">
                <div class="text-hero">
                    <h2>Inicio</h2>
                    <p>Descubre tu pastelería de confianza.<br>
      Tartas, postres y decoraciones que transforman cada momento en un recuerdo delicioso.<br>
      ¡Explora nuestras creaciones y déjate sorprender!</p>
                    <button class="btn-hero">Contacta</button>
                </div>
                <div class="hero-image">
                    <img src="Images/Banner.jpg" alt="Descripción del SVG">
                </div>
            </div>
           
        </section>