<section class="servicios">
            <h2>Endulzamos tu Fiesta</h2>
            <p>Con tartas personalizadas, Pancakes y Decoraciones para Cumpleaños, días especiales.</p>
     

        <section class="servicios-list">
            <div class="servicios-items">
                <div class="gallery-item">
                    <img src="Images/img5.jpg" alt="Imagen de galería 1">
                    <h3>Pan cake</h3>
                </div>
                <div class="gallery-item">

                    <img src="Images/img2.jpg" alt="Imagen de galería 2">
                    <a href="/Tartas"><h3>Tartas personalizadas</a></h3>
                </div>
                <div class="gallery-item">
                    <img src="Images/img3.jpg" alt="Imagen de galería 3">
                    <a href="/Decoraciones"></a><h3>Decoraciones</h3>
                </div>
            </div>
 </section>